{
  "machine": {
    "cpu": 1000,
    "gpu": 1,
    "ram": 1024
  },
  "job": {
    "APIVersion": "V1beta2",
    "Spec": {
      "EngineSpec": {
        "Type": "docker",
        "Params": {
          "EnvironmentVariables": [
            "PLEX_JOB_INPUTS={\"binder_length\":80,\"contigs_override\":\"A1-7/3/A11-80:B\",\"hotspot\":\"B131\",\"number_of_binders\":1,\"target_chain\":\"B\",\"target_end_residue\":168,\"target_protein\":\"/inputs/target_protein/pdc_upar_1_target.pdb\",\"target_start_residue\":1}"
          ],
          "Image": "docker.io/openzyme/colabdesign-gateway@sha256:0b452233b0fa39e7a220c3f1be9f31010d175595207b91c62349d690aff38626"
        }
      },
      "PublisherSpec": {
        "Type": "ipfs"
      },
      "Docker": {},
      "Wasm": {
        "EntryModule": {}
      },
      "Resources": {
        "CPU": "3.000000",
        "Memory": "12gb",
        "GPU": "1"
      },
      "Network": {
        "Type": "Full"
      },
      "Timeout": 259200,
      "Inputs": [
        {
          "StorageSource": "ipfs",
          "CID": "QmcJdrAgF85vFWUXzpQwpx2njEiWn4smXnfJHufc1aF1uh",
          "Path": "/inputs/target_protein/pdc_upar_1_target.pdb"
        }
      ],
      "Outputs": [
        {
          "Name": "outputs",
          "Path": "/outputs"
        }
      ],
      "Deal": {
        "Concurrency": 1
      }
    }
  }
}
